.css-t2ptn2.teko-modal-show {
  opacity: 1 !important;
  pointer-events: visible;
}

.css-t2ptn2 {
  width: 520px;
  max-width: 95%;
}
.css-t2ptn2.teko-modal-show .teko-modal-content {
  transform: translateY(0px);
  z-index: 1050;
}

.css-t2ptn2 .teko-modal-content {
  padding: 24px;
  transition: all 0.2s ease-in-out 0s;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 16px, rgba(0, 0, 0, 0.05) 0px 8px 16px;
  border-radius: 8px;
  position: relative;
}
.css-t2ptn2 .teko-modal-content .teko-modal-header .teko-modal-title {
  margin-bottom: 24px;
  color: rgb(27, 29, 41);
}

.css-1cp1h79 {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: inherit;
  font-weight: 700;
  text-decoration: unset;
  font-size: 24px;
  line-height: 32px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}
.css-t2ptn2 .teko-modal-content .teko-modal-body {
  font-size: 13px;
  line-height: 20px;
  overflow-wrap: break-word;
}
.css-bx5s07 {
  overflow-y: auto;
  height: 400px;
  margin-top: 12px;
  scrollbar-width: none;
}
.css-1rer2u4.teko-row {
  display: flex;
  flex-flow: wrap;
}

.css-1rer2u4 {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  background-color: white;
}
.css-1vjpruz {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  flex: 1 1 auto;
  margin: 0px 0.75rem 0px 0px !important;
}
.css-kwckz4 {
  border-style: solid;
  border-radius: 0.25rem;
  border-width: 1px;
  opacity: 1;
  height: 40px;
  padding: 0rem 0.75rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-color: rgb(224, 224, 224);
}
.css-kwckz4 input {
  flex: 1 1 0%;
  width: 100%;
  border: none;
  font-size: 13px;
  color: rgb(67, 70, 87);
}

.css-1acir1a {
  background-color: inherit;
}
.css-t2ptn2 .teko-modal-content .teko-modal-body {
  font-size: 13px;
  line-height: 20px;
  overflow-wrap: break-word;
}
.css-bx5s07 {
    overflow-y: auto;
    height: 400px;
    margin-top: 12px;
    scrollbar-width: none;
}
.css-1rer2u4.teko-row {
    display: flex;
    flex-flow: wrap;
}

.css-1rer2u4 {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    background-color: white;
}
.css-1vjpruz {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    flex: 1 1 auto;
    margin: 0px 0.75rem 0px 0px !important;
}
.css-kwckz4 {
    border-style: solid;
    border-radius: 0.25rem;
    border-width: 1px;
    opacity: 1;
    height: 40px;
    padding: 0rem 0.75rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-color: rgb(224, 224, 224);
}
.css-8gkoju {
    opacity: 1;
    height: 2.5rem;
    border-radius: 0.25rem;
    background-color: transparent;
    border: 1px solid rgb(210, 210, 210);
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    cursor: not-allowed;
    transition-duration: 80ms;
    transition-property: background-color;
    padding: 0px 20px;
    min-width: 100px;
}
.css-1lchwqw {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 400;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}
.css-8gkoju {
    opacity: 1;
    height: 2.5rem;
    border-radius: 0.25rem;
    background-color: transparent;
    border: 1px solid rgb(210, 210, 210);
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    cursor: not-allowed;
    transition-duration: 80ms;
    transition-property: background-color;
    padding: 0px 20px;
    min-width: 100px;
}
.css-8gkoju {
    opacity: 1;
    height: 2.5rem;
    border-radius: 0.25rem;
    background-color: transparent;
    border: 1px solid rgb(210, 210, 210);
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    cursor: not-allowed;
    transition-duration: 80ms;
    transition-property: background-color;
    padding: 0px 20px;
    min-width: 100px;
}
.css-1n9015d.teko-row-start {
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.css-1n9015d.teko-row {
    display: flex;
    flex-flow: wrap;
}

.css-1n9015d {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    opacity: 1;
    background-color: white;
    padding: 0.75rem 0px;
    border-radius: 0px;
}.css-1j2lgm2 {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-decoration: unset;
    font-size: 13px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}
.css-aw1phq {
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 1.5px;
    border-color: rgb(228, 229, 240);
    opacity: 1;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding: 0.75rem;
}
.css-1qrgscw.teko-row-space-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-1qrgscw.teko-row-no-wrap {
    flex-wrap: nowrap;
}

.css-1qrgscw.teko-row {
    display: flex;
    flex-flow: wrap;
}

.css-1qrgscw {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}
.css-1kuu3ui.teko-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.css-1kuu3ui {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    margin-right: 0.75rem;
}
.css-1vwnyiz {
    border-style: none;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    background-color: rgb(232, 235, 249);
    width: 90%;
    min-width: 76px;
    height: 76px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.css-1ddnbai {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    max-width: 32px;
    max-height: 32px;
}
img, svg {
    vertical-align: middle;
}
.css-oi0lj1.teko-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.css-oi0lj1 {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    width: 100%;
}
.css-i5q8p4 {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 500;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}
.css-ammihu {
    opacity: 1;
    margin-right: 0.25rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    height: 1rem;
    border-radius: 0.25rem;
    border: 1px solid rgb(18, 48, 176);
    background-color: rgb(255, 255, 255);
}
.css-1fktfn4 {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(18, 48, 176);
    font-weight: 500;
    text-decoration: unset;
    font-size: 10px;
    line-height: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}
.css-q3pfns {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(130, 134, 158);
    font-weight: 400;
    text-decoration: unset;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}
.css-1cxmf7d.teko-row-bottom {
    align-items: flex-end;
}

.css-1cxmf7d.teko-row-space-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-1cxmf7d.teko-row {
    display: flex;
    flex-flow: wrap;
}

.css-1cxmf7d {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    margin-top: 0.5rem;
}
.css-17ajfcv.teko-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.css-17ajfcv {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}
.css-1f5a6jh {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(130, 134, 158);
    font-weight: 400;
    text-decoration: unset;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}
.css-kfv2zc {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    display: inline;
    cursor: pointer;
    text-decoration: none;
    color: rgb(25, 144, 255) !important;
}
.css-kfv2zc div {
    display: inline;
}

.css-1c7714w {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(25, 144, 255);
    font-weight: 400;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}
.css-apomyl {
    display: inline-block;
    margin: 0px auto;
}
.css-1is2wdo {
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 1.5px;
    border-color: rgb(20, 53, 195);
    opacity: 1;
    background-color: rgb(243, 245, 252);
    width: 100%;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding: 0.75rem;
}
.css-1qrgscw.teko-row-space-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
}



.css-1ca50y {
    border-style: none;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    background-color: rgb(248, 248, 252);
    width: 90%;
    min-width: 76px;
    height: 76px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}



.css-1cxmf7d.teko-row-bottom {
    align-items: flex-end;
}




