.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000 !important;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    z-index: 1100 !important;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.content-t-wrap {
  max-width: 700px;
  margin: auto;
  padding: 20px 0;
}
.parameter-all {
  background-color: #fff;
}
.parameter-item {
  padding: 0 30px;
}
.parameter-ttl {
  background-color: #f1f1f1;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}
.parameter-all .ulist li {
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  padding: 10px;
}
.parameter-all .ctLeft {
  font-weight: bold;
  line-height: 21px;
  width: 30%;
}
.parameter-all .ctRight {
  line-height: 21px;
  padding-left: 10px;
  width: 70%;
}
.popup-rating-topzone {
  background-color: #fff;
  border-radius: 20px;
  display: none;
  left: calc(50% - 340px);
  position: fixed;
  padding-bottom: 30px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 680px;
  z-index: 100;
}
.wrap_rating *, .wrap_cmt * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.popup-rating-topzone .close-rate {
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
}
.popup-rating-topzone .close-rate::before {
  transform: rotate(-45deg);
}
.popup-rating-topzone .close-rate::before, .popup-rating-topzone .close-rate::after {
  background-color: #3e3e3f;
  border-radius: 3px;
  content: '';
  position: absolute;
  height: 20px;
  width: 3px;
}
.popup-rating-topzone .close-rate::after {
  transform: rotate(45deg);
}
.popup-rating-topzone .close-rate::before, .popup-rating-topzone .close-rate::after {
  background-color: #3e3e3f;
  border-radius: 3px;
  content: '';
  position: absolute;
  height: 20px;
  width: 3px;
}
.wrap_rating *, .wrap_cmt * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.popup-rating-topzone .txt {
  border-bottom: 1px solid #f5f5f7;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  padding: 22px;
}
.wrap_rating p, .wrap_cmt p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  text-rendering: geometricPrecision;
}
.wrap_rating *, .wrap_cmt * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.popup-rating-topzone .bproduct {
  margin-top: 20px;
}
.popup-rating-topzone .bproduct h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  margin: 20px 20px 0;
}
.popup-rating-topzone .bproduct img {
  max-width: 100px;
  margin: 0 auto;
}
.wrap_rating img, .wrap_cmt img {
  display: block;
  max-width: 100%;
  width: 100%;
}
.rating-topzonecr-star {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.wrap_cmt ul li, .wrap_rating ul li {
  list-style: none;
}
.rating-topzonecr-star li {
  cursor: pointer;
  margin: 0 10px;
  text-align: center;
}
.rating-topzonecr-star li i.active {
  background-position: -125px -80px;
  height: 38px;
  width: 40px;
}
.iconcmt-unstarlist {
  background-position: -80px -75px;
  height: 38px;
  width: 40px;
}

.rating-topzonecr-star p {
  color: #757575;
  font-size: 14px;
  margin-top: 5px;
}
.iconcmt-unstarlist {
  background-position: -80px -75px;
  height: 38px;
  width: 40px;
}
[class^="iconcmt-"], [class*="iconcmt-"] {
  background-image: url(//cdn.tgdd.vn/mwgcart/avacomment/images/icon_comment_2x.png?v=2);
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  background-size: 200px 150px;
}
.rating-topzonecr-star p.active-slt {
  color: #ff9f00;
  font-weight: bold;
}
.form-rate {
  margin-top: 30px;
  padding: 0 30px;
}
.wrap_cmt .inputrating__group, .wrap_rating .inputrating__group {
  padding: 5px;
  position: relative;
  padding-bottom: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
}
.form-rate textarea {
  border: none;
  color: #323232;
  font-size: 14px;
  height: 80px;
  line-height: 17px;
  padding: 10px;
  resize: none;
  width: 100%;
}
.wrap_cmt .txtcount__box, .wrap_rating .txtcount__box {
  right: 11px;
  position: absolute;
  bottom: 4px;
  color: #666;
}
.form-rate .item {
  display: flex;
  flex-wrap: wrap;
  margin: 3px -6px 0;
}
.wrap_rating .form-rate input.fRName {
  color: #323232;
}
.form-rate .item input {
  margin: 0 6px;
  width: calc(50% - 12px);
}
.form-rate input {
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  color: #757575;
  font-size: 14px;
  height: 50px;
  line-height: 17px;
  padding: 10px;
  width: 100%;
}
.form-rate .send-rate {
  background-color: #0071e3;
  border-radius: 12px;
  border: 1px solid #0071e3;
  cursor: pointer;
  color: #fff;
  display: block;
  margin-top: 20px;
  padding: 15px;
  transition: .3s;
  width: 100%;
}
.send-img {
  display: flex;
}
.upload__btn i {
  margin-right: 5px;
}
.iconcmt-camera {
  background-position: -144px -124px;
  height: 17px;
  width: 20px;
}
[class^="iconcmt-"], [class*="iconcmt-"] {
  background-image: url(//cdn.tgdd.vn/mwgcart/avacomment/images/icon_comment_2x.png?v=2);
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  background-size: 200px 150px;
}
.upload__btn p {
  color: #0071e3;
  font-size: 14px;
}
@media only screen and (min-width: 1024px) {
  .upload__btn p span {
      font-size: 14px;
  }
}
.upload__btn p span {
  color: #323232;
  font-size: 12px;
}
.form-rate input {
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  color: #757575;
  font-size: 14px;
  height: 50px;
  line-height: 17px;
  padding: 10px;
  width: 100%;
}
.hide {
  display: none !important;
}
.upload__inputfile {
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: .1px;
  z-index: -1;
}

@media (min-width: 992px) {
  .product-rating--wrapper .product-reviews--body {
      width: 70%;
  }
}
@media (min-width: 768px) {
  .product-rating--wrapper .product-reviews--body {
      margin-bottom: 16px;
      padding-bottom: 16px;
  }
}
.product-rating--wrapper .product-reviews--body {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ececec;
}

@media (min-width: 768px) {
  .product-rating--wrapper .product-reviews--body .items-comment {
      padding: 16px 0;
  }
}
.product-rating--wrapper .product-reviews--body .items-comment {
  padding: 8px 0;
}
@media (min-width: 768px) {
  .product-rating--wrapper .product-reviews--body .items-comment .items-comment-top {
      margin-bottom: 8px;
  }
}
.product-rating--wrapper .product-reviews--body .items-comment .items-comment-top {
  display: flex;
  align-items: center;
}
.product-rating--wrapper .product-reviews--body .items-comment .items-comment-top .items-comment-name {
  font-weight: 600;
  margin-right: 8px;
}
.product-rating--wrapper .product-reviews--body .items-comment .items-comment-top .items-comment-date {
  color: #97999D;
}
.product-rating--wrapper .product-reviews--body .items-comment .items-comment-bottom {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .product-rating--wrapper .product-reviews--body .items-comment {
      padding: 16px 0;
  }
}

.product-rating--wrapper .product-reviews--body .items-comment {
  padding: 8px 0;
}
.product-rating--wrapper .product-reviews--body .items-comment .items-comment-top .items-comment-name {
  font-weight: 600;
  margin-right: 8px;
}
.product-rating--wrapper .product-reviews--body .items-comment .items-comment-top .items-comment-date {
  color: #97999D;
}
.product-rating--wrapper .product-reviews--body .items-comment .items-comment-top .items-comment-name {
  font-weight: 600;
  margin-right: 8px;
}
.product-rating--wrapper .product-reviews--body .items-comment + .items-comment {
  border-top: 1px solid #ECECEC;
}
@media (min-width: 768px) {
  .product-rating--wrapper .product-reviews--body .items-comment {
      padding: 16px 0;
  }
}
.product-rating--wrapper .product-reviews--body .items-comment {
  padding: 8px 0;
}
@media (min-width: 992px) {
  .product-rating--wrapper .product-reviews--body .items-comment .items-comment-left {
      width: 16%;
  }
}
@media (min-width: 768px) {
  .product-rating--wrapper .product-reviews--body .items-comment .items-comment-left {
      width: 22%;
  }
}
.product-rating--wrapper .product-reviews--body .items-comment .items-comment-left {
  width: 100%;
}
.product-rating--wrapper .product-reviews--body .items-comment .items-comment-left .items-comment-star {
  display: flex;
}
.product-rating--wrapper .product-reviews--body .items-comment .items-comment-left .items-comment-star .items-star {
  margin-right: 5px;
}
@media (min-width: 992px) {
  .product-rating--wrapper .product-reviews--body .items-comment .items-comment-right {
      width: 84%;
  }
}
@media (min-width: 768px) {
  .product-rating--wrapper .product-reviews--body .items-comment .items-comment-right {
      width: 78%;
      padding-left: 16px;
  }
}
.product-rating--wrapper .product-reviews--body .items-comment .items-comment-right {
  width: 100%;
}
@media (min-width: 768px) {
  .product-rating--wrapper .product-reviews--body .items-comment .items-comment-right .items-comment-replay {
      margin-top: 16px;
  }
}
.product-rating--wrapper .product-reviews--body .items-comment .items-comment-right .items-comment-replay {
  margin-top: 8px;
}
.product-rating--wrapper .product-reviews--body .items-comment .items-comment-right .items-comment-replay .items-replay .items-replay-title {
  display: flex;
  align-items: center;
}
.product-rating--wrapper .product-reviews--body .items-comment .items-comment-right .items-comment-replay .items-replay .items-replay-content {
  margin-top: 8px;
}
@media (min-width: 992px) {
  .product-rating--wrapper .product-reviews--body .items-comment .items-comment-right {
      width: 84%;
  }
}
@media (min-width: 768px) {
  .product-rating--wrapper .product-reviews--body .items-comment .items-comment-right {
      width: 78%;
      padding-left: 16px;
  }
}
.product-rating--wrapper .product-reviews--body .items-comment .items-comment-right {
  width: 100%;
}
.star-rating {
  display: flex;
}

.star-rating .filled {
  color: gold;
}

.star-rating .empty {
  color: lightgray;
}