.css-17ajfcv.teko-col-2 {
    display: block;
    flex: 0 0 16.66%;
    max-width: 16.66%;
}

.css-17ajfcv.teko-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.css-17ajfcv {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}

.css-1psc7jy {
    border-radius: 0.5rem;
    padding: 0.75rem;
    background: #FFFFFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.css-y7yt88 {
    margin: 0px 0px 0.5rem;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 500;
    text-decoration: unset;
    font-size: 13px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}
.css-9bznj9 {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}
.css-1n5trgy {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    margin-bottom: 0.25rem;
    display: flex;
    flex-flow: row;
    gap: 0rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    align-items: baseline;
    position: relative;
}   
.css-11mfy90 {
    opacity: 1;
    display: inline-block;
    color: inherit;
    font-weight: inherit;
    width: 75px;
    padding: 0.25rem;
    border: 1px solid rgb(228, 229, 240);
    font-size: 0.7rem;
    border-radius: 0.25rem;
    background-color: rgb(255, 255, 255);
    z-index: 0;
    text-align: center;
}
.css-11mfy90 {
    opacity: 1;
    display: inline-block;
    color: inherit;
    font-weight: inherit;
    width: 75px;
    padding: 0.25rem;
    border: 1px solid rgb(228, 229, 240);
    font-size: 0.7rem;
    border-radius: 0.25rem;
    background-color: rgb(255, 255, 255);
    z-index: 0;
    text-align: center;
}
.css-1vlfwg {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    padding: 0.5rem 0px;
}
.css-1sv7nws {
    position: relative;
    height: 3px;
    width: 100%;
}
.css-tipbfv {
    position: relative;
    width: 100%;
    background-color: #F6F6F6;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.css-1sv7nws>.slider-track .slider-track-fill {
    background-color: #1435C3;
}
.css-7rhk5r {
    position: absolute;
    top: 0;
    height: 100%;
}
.css-1sv7nws>.slider-thumb {
    box-shadow: 0px 0px 0px 1.5px #1435C3 inset;
    width: 9px;
    height: 9px;
}
.css-1mc3642 {
    position: absolute;
    border-radius: 1000px;
    top: 0;
    -webkit-transform: translate(-25%, -50%);
    -moz-transform: translate(-25%, -50%);
    -ms-transform: translate(-25%, -50%);
    transform: translate(-25%, -50%);
    background-color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    top: 50%;
}
.css-1nfxeg5 {
    visibility: hidden;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 2px 3px;
    position: absolute;
    z-index: 1;
    font-size: 0.625rem;
    border-radius: 3px;
    -webkit-transform: translate(-50%, -150%);
    -moz-transform: translate(-50%, -150%);
    -ms-transform: translate(-50%, -150%);
    transform: translate(-50%, -150%);
    min-width: 1.25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.css-1sv7nws>.slider-thumb {
    box-shadow: 0px 0px 0px 1.5px #1435C3 inset;
    width: 9px;
    height: 9px;
}
.css-1mc3642 {
    position: absolute;
    border-radius: 1000px;
    top: 0;
    -webkit-transform: translate(-25%, -50%);
    -moz-transform: translate(-25%, -50%);
    -ms-transform: translate(-25%, -50%);
    transform: translate(-25%, -50%);
    background-color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    top: 50%;
}
.css-1nfxeg5 {
    visibility: hidden;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 2px 3px;
    position: absolute;
    z-index: 1;
    font-size: 0.625rem;
    border-radius: 3px;
    -webkit-transform: translate(-50%, -150%);
    -moz-transform: translate(-50%, -150%);
    -ms-transform: translate(-50%, -150%);
    transform: translate(-50%, -150%);
    min-width: 1.25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.css-1veiyrs {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    --divider-gap: 12px;
    display: flex;
    padding-top: var(--divider-gap);
    padding-bottom: var(--divider-gap);
}
.css-yae08c {
    --divider-border-style: solid;
    --divider-color: #E4E5F0;
    --divider-border-width: 1px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-top: var(--divider-border-width) var(--divider-border-style) var(--divider-color);
}
.css-gr7w3w {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 1.5rem;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.css-q3day0 {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 500;
    text-decoration: unset;
    font-size: 13px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}
.css-500jnn.active {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.css-500jnn {
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
img, svg {
    vertical-align: middle;
}
.css-1i3vt0z.active {
    margin-top: 0.75rem;
    height: auto;
}
.css-cc88kj {
    color: #1990FF;
    cursor: pointer;
    font-size: 0.75rem;
    margin-left: 1.7rem;
}
.css-500jnn path[stroke], .css-500jnn rect[stroke], .css-500jnn line {
    stroke: #434657;
}
.css-1i3vt0z {
    height: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    gap: 0.25rem;
}
.css-1skvw03 {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    display: flex;
    flex-flow: wrap;
    gap: 0rem;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: baseline;
    align-items: baseline;
}
.css-1p9luqs {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: unset;
    cursor: pointer;
    list-style: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px 0.5rem 0px 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}
.css-l24w9c {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
}
.css-lc01j1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 16px;
    height: 16px;
    margin: auto;
    cursor: pointer;
    opacity: 0;
}
.css-gfk8lf {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 16px;
    height: 16px;
    margin: auto;
    border: 1px solid #E4E5F0;
    border-radius: 2px;
    background-color: #FFFFFF;
}
.css-u5ggi9 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.css-6r3s23 {
    margin: 0px 0px 0px 0.25rem;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 400;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}
.css-6r3s23 {
    margin: 0px 0px 0px 0.25rem;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 400;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}
.css-22xpbp {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    background-color: rgb(67, 70, 87);
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    max-width: 16rem;
    z-index: 100;
}

/* Topbar Filter */
.css-1of9xbq {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0.25rem;
    padding: 0.75rem 1rem;
}
.css-iv0lz5.teko-row-baseline {
    -webkit-box-align: baseline;
    align-items: baseline;
}

.css-iv0lz5.teko-row-start {
    -webkit-box-pack: start;
    justify-content: flex-start;
}

@media (min-width: 1024px) {
    .css-iv0lz5.teko-row {
        -webkit-box-pack: center;
        justify-content: center;
    }
}

.css-iv0lz5.teko-row {
    display: flex;
    flex-flow: wrap;
}

.css-iv0lz5 {
    border-style: none;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    background-color: rgb(255, 255, 255);
}
.css-7nrxrf {
    margin: 0;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #434657;
}
@media (min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }
}
.css-18xfrv {
    margin: 0px;
    padding: 0px 0px 0px 0.5rem;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(130, 134, 158);
    font-weight: 400;
    text-decoration: unset;
    font-size: 20px;
    line-height: 28px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}
.css-7nga9q {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
}
.css-1xw9vei {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (min-width: 1200px) {
    h2 {
        font-size: 2rem;
    }
}
.css-19cybcr {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    max-height: 88px;
    margin-top: 0.5rem;
    display: flex;
    flex-flow: wrap;
    gap: 0.5rem;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}
.css-1h3fn00 {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: black;
    text-decoration: none;
}
button:not(:disabled), [type='button']:not(:disabled), [type='reset']:not(:disabled), [type='submit']:not(:disabled) {
    cursor: pointer;
}

.css-i76rz5 {
    opacity: 1;
    width: 100%;
    height: 2.5rem;
    padding: 0rem 1.25rem;
    border-radius: 0.25rem;
    background-color: transparent;
    border: 1px solid rgb(228, 229, 240);
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    min-width: 2.5rem;
    cursor: pointer;
    transition-duration: 80ms;
    transition-property: background-color;
}
button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border-radius: 0;
}
.css-2ry79k {
    margin: 0.25rem 0px 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 400;
    text-decoration: unset;
    font-size: 13px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
    text-align: center;
    flex-grow: 1;
    -webkit-box-flex: 1;
    -webkit-box-align: center;
    align-items: center;
}
.css-i76rz5 {
    opacity: 1;
    width: 100%;
    height: 2.5rem;
    padding: 0rem 1.25rem;
    border-radius: 0.25rem;
    background-color: transparent;
    border: 1px solid rgb(228, 229, 240);
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    min-width: 2.5rem;
    cursor: pointer;
    transition-duration: 80ms;
    transition-property: background-color;
}
.css-i76rz5 {
    opacity: 1;
    width: 100%;
    height: 2.5rem;
    padding: 0rem 1.25rem;
    border-radius: 0.25rem;
    background-color: transparent;
    border: 1px solid rgb(228, 229, 240);
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    min-width: 2.5rem;
    cursor: pointer;
    transition-duration: 80ms;
    transition-property: background-color;
}
.css-qc5ueq {
    border-style: none;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.css-v6thbz {
    border-style: none none solid;
    border-width: 1px;
    border-top-color: unset;
    border-right-color: unset;
    border-left-color: unset;
    opacity: 1;
    display: flex;
    flex-flow: row;
    gap: 0rem;
    -webkit-box-align: baseline;
    align-items: baseline;
    width: 100%;
    height: 64px;
    border-bottom-color: rgb(234, 234, 234);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 14px;
}
.css-1k985bk {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    height: 100%;
    padding-left: 1rem;
    display: flex;
    flex-flow: row;
    gap: 0rem;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.css-1ew3940 {
    margin: 0px 2rem 0px 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 500;
    text-decoration: unset;
    font-size: 13px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-1w3mv8m {
    border-radius: 4px;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: solid 1px #e0e0e0;
    background-color: #fff;
    padding: 0.5rem 1.25rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.css-1lchwqw {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 400;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}
.css-1ss9yju {
    border-radius: 4px;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: solid 1px #1435c3;
    background-color: #fff;
    padding: 0.5rem 1.25rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.css-u3jq8e {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 24px 24px 0px;
    border-color: transparent #1435c3 transparent transparent;
}
.css-mpv07g {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    color: rgb(255, 255, 255);
    top: -1px;
    right: -1px;
    z-index: 0;
}
img, svg {
    vertical-align: middle;
}
.css-1g43135 {
    margin: 0px 0px 0.75rem;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 500;
    text-decoration: unset;
    font-size: 13px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}
.css-re27eh {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin-bottom: 0.5rem;
}
.css-pdskfl {
    opacity: 1;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: rgb(255, 255, 255);
    height: 24px;
    border-radius: 1.5rem;
    border: 1px solid rgb(210, 210, 210);
}
.css-1fvdj2p {
    margin: 0px 0.25rem 0px 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(67, 70, 87);
    font-weight: 400;
    text-decoration: unset;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}
.css-nq2gc4 {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.css-1tg24kl {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 200px;
    width: 200px;
}
.css-1fuf6mn {
    margin: 1.5rem 0px 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 500;
    text-decoration: unset;
    font-size: 15px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}